@import '../../common';

.container {
  overflow-x: auto;
  display: flex;
  gap: 20px;

  box-sizing: border-box;
  max-width: 427px;
  padding: 16px 0;
}

.img_box {
  position: relative;
}

.img {
  cursor: pointer;

  box-sizing: border-box;
  width: 84px;
  height: 84px;

  border-radius: $common-small-border-radius;

  transition: $common-transition;

  &_active {
    background-color: $gray2;
    border: 0.5px solid $gray3;
  }

  &:hover {
    background-color: $gray2;
  }
}

.tag {
  position: absolute;
  right: 12px;
  bottom: 0;

  width: 24px;
  padding: 4px;

  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
}

.stock_off {
  opacity: 0.5;
}

.container::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 500px) {
  .container {
    gap: 15px;
    width: 100%;
  }

  .img {
    width: 70px;
    height: 70px;
  }
}
