.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 48px;

  .btn {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 290px;

    transition: all 0.3s;
  }

  .invisible {
    visibility: hidden;
    opacity: 0;
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }

  .small {
    left: 8px;
    width: 276px;
    min-width: 276px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    .btn {
      width: 100%;
    }

    .small {
      left: 0;
      width: 100%;
    }
  }
}
