.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 48px;

  .btn {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 290px;

    transition: all 0.3s;
  }

  .invisible {
    visibility: hidden;
    opacity: 0;
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }
}
