@import '../common';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}

.input {
  width: 100%;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 4px;
}

.paragraph {
  margin-bottom: 30px;
}
