@import '../common';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-sizing: border-box;
  width: 100%;
  max-width: 1366px;
  min-height: 484px;
  margin: 0 auto;
  padding-top: 100px;
  padding-right: 70px;
  padding-left: 70px;
}

.title {
  max-width: 464px;

  font-size: 32px;
  font-weight: 500;
  line-height: 125%;
  color: $black2;
  text-align: left;
}

.text {
  max-width: 266px;
  margin-top: 10px;
  margin-bottom: 25px;

  color: $text-gray;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .container {
    min-height: 577px;
    padding: 235px 16px 50px;
  }
}
