@import '../../common';

.container {
  position: relative;
}

.img {
  width: 100%;
  max-width: 569px;
  height: 100%;
  max-height: 603px;
}

.additions {
  position: absolute;
  top: 5px;
  right: 21px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.like {
  cursor: pointer;

  width: 35px;
  height: 35px;

  background: none;
  background-image: url('../../../images/icons/favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;

  transition: $common-transition;

  &_active {
    background-image: url('../../../images/icons/favorite-active.svg');
  }
}

.like:hover {
  opacity: $common-hover-opacity;
}

.tabs {
  &_mobile {
    position: absolute;
    top: 5px;
    left: 0;
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .tabs {
    display: none;

    &_mobile {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;
    }
  }
}
