@import '../common';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1248px;
}

.link {
  margin: 10px auto 50px;
  text-decoration: none;
  transition: $common-transition;
}

.link:hover {
  opacity: $common-hover-opacity;
}

.text {
  display: flex;
  gap: 8px;
  align-items: center;

  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: $text-gray;
}

.slide {
  max-width: 292px;
}

.btn_mobile {
  display: none;
}

.list_mobile {
  display: none;
  margin: 0;
  padding: 0;
}

.icon {
  fill: $text-gray;
}

@media screen and (max-width: 500px) {
  .swiper {
    display: none;
  }

  .link {
    display: none;
  }

  .title {
    align-self: flex-start;
    margin-bottom: 16px;
    text-align: left;
  }

  .btn_mobile {
    display: block;
    margin-top: 16px;
  }

  .list_mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
