@import '../common';

.container {
  list-style-type: none;
}

.article {
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 292px;
}

.img {
  height: 100%;
  margin-bottom: 15px;
}

.like {
  cursor: pointer;

  position: absolute;
  top: 16px;
  right: 8px;

  width: 35px;
  height: 35px;

  background: none;
  background-image: url('../../images/icons/favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;

  transition: $common-transition;

  &_active {
    background-image: url('../../images/icons/favorite-active.svg');
  }
}

.like:hover {
  opacity: $common-hover-opacity;
}

.tabs {
  position: absolute;
  top: 16px;
  left: 8px;
  align-items: flex-start;
}

.name {
  overflow: hidden;

  margin-top: 2px;
  margin-bottom: 16px;

  line-height: 150%;
  color: $text-black;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  .article {
    flex-direction: row;
    gap: 6px;

    max-width: 100%;
    height: 140px;
    margin-bottom: 8px;
  }

  .tabs {
    position: static;
    flex-direction: row;
  }

  .like {
    position: static;
    order: 1;
  }

  .tags_like_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .addition_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .img {
    margin-bottom: 0;
  }

  .name {
    margin: 0;
    white-space: normal;
  }
}
