@import '../../common';

.container {
  padding: 4px 8px;

  font-size: 11px;
  font-weight: 400;
  line-height: 120%;
  color: $text-white;

  background: $orange-gradient;
  border-radius: $common-tag-border-radius;
}
