.container {
  display: flex;
  flex-direction: column;
}

.list {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 0;
}

.pagination {
  align-self: center;
  margin-top: 30px;
}
