@import '../common';

.header {
  width: 100%;
  background-color: $black1;
}

.container {
  position: relative;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 1274px;
  margin: 0 auto;
  padding: 32px 24px;
}

.logo {
  margin-right: 32px;
}

.btn {
  margin-right: 44px;
}

.nav {
  margin-left: auto;
}

.menu_box {
  position: relative;

  .menu_popup {
    &_main {
      position: absolute;
      top: 60px;
      left: 0;
    }

    &_list {
      margin: 0;
      padding: 0;
    }

    &_children {
      position: absolute;
      top: 60px;
      left: 430px;
      border-radius: 0 $common-menu-border-radius $common-menu-border-radius 0;
    }
  }
}

.body {
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .logo {
    margin-right: 16px;
  }

  .btn {
    margin-right: 24px;
  }

  .nav {
    margin-left: 32px;
  }

  .menu_box {
    .menu_popup {
      &_children {
        left: 300px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 28px 24px;
  }

  .logo {
    width: 100px;
  }

  .nav {
    margin-left: 24px;
  }

  .menu_box {
    .menu_popup {
      &_children {
        left: 200px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .btn {
    margin-right: 16px;
  }

  .nav {
    margin-left: 16px;
  }

  .menu_box {
    .menu_popup {
      &_children {
        left: 130px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    justify-content: space-between;
  }

  .btn {
    margin: 0;
  }

  .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    margin: 0;
  }

  .nav {
    margin: 0;
  }

  .header_search {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 16px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    .menu_box {
      .menu_popup {
        &_main {
          position: fixed;
          top: 0;
          left: 0;

          width: 100%;
          height: 100dvh;
        }

        &_children {
          position: fixed;
          top: 0;
          left: 0;

          width: 100%;
          height: 100dvh;
        }
      }
    }
  }
}
