@import '../../components/common';

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1226px;
  padding: 82px 24px 127px;

  .title {
    margin-bottom: 4px;
    text-align: left;
  }

  .btn_clean {
    cursor: pointer;

    display: flex;
    align-items: center;

    margin-bottom: 33px;
    padding: 0;

    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    color: $text-dark;

    background: none;
    border: none;

    transition: $common-transition;

    &:hover {
      opacity: $common-hover-opacity;
    }

    &_icon {
      width: 21px;
      height: 21px;
      margin-left: 16px;

      background-image: url('../../images/icons/close-cross.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .table {
    &_head {
      display: grid;
      grid-template-columns: 50% 1fr 1fr 1fr 1fr;
      gap: 10px;
      justify-items: center;

      margin-bottom: 20px;

      &_text {
        &:nth-child(1) {
          justify-self: start;
        }

        &:nth-child(4) {
          justify-self: end;
        }

        &:nth-child(5) {
          justify-self: end;
        }
      }
    }

    &_list {
      margin: 0;
      padding: 0;

      &_item {
        display: grid;
        grid-template-columns: 50% 1fr 1fr 1fr 1fr;
        gap: 10px;
        justify-items: center;
      }
    }
  }

  .summary {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 45px;

    .first_col {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .weight_text {
        font-size: 22px;
        font-weight: 600;
        line-height: 100%;
        color: $text-black;
        text-align: left;
      }

      .weight {
        font-size: 28px;
        font-weight: 500;
        line-height: 150%;
        color: $text-black;
      }

      .min_order {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        color: $text-gray;
        text-align: left;
      }
    }

    .second_col {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .row {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;

        min-width: 392px;

        &_text {
          font-size: 22px;
          font-weight: 600;
          line-height: 100%;
          color: $text-black;
        }

        &_value {
          font-size: 28px;
          font-weight: 500;
          line-height: 150%;
          color: $text-black;
        }
      }

      .btn {
        align-self: flex-end;
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .summary {
      .second_col {
        .row {
          min-width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    .table {
      &_head {
        display: none;
      }

      &_list {
        &_item {
          display: flex;
          gap: 10px;
          align-items: stretch;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 50px 16px 68px;

    .summary {
      flex-direction: column;
      gap: 24px;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-top: 24px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    .summary {
      align-items: flex-start;
      margin-top: 12px;

      .first_col {
        .weight_text {
          display: none;
        }

        .min_order {
          font-size: 12px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 0.24px;
        }
      }

      .second_col {
        gap: 8px;
        width: 100%;

        .row {
          width: 100%;
          min-width: 0;

          &_text {
            font-size: 20px;
            font-weight: 600;
            line-height: 100%;
          }

          &_value {
            font-size: 20px;
            font-weight: 500;
            line-height: 150%;
          }
        }

        .btn {
          width: 100%;
        }
      }
    }
  }
}
