@import '../../common';

.input {
  box-sizing: border-box;
  padding: 16px;

  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: $text-black;

  background-color: $text-white;
  border: 1px solid $gray3;
  border-radius: $common-small-border-radius;
}

.input::placeholder {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: $text-gray;
}

.input:focus {
  border: 1px solid;
  border-width: 1px;
  border-radius: $common-small-border-radius;
  border-image-source: $blue-gradient1;
  border-image-slice: 1;
  outline: none;
}
