@import '../../components/common';

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .data {
    &_box {
      padding-top: 42px;
      padding-bottom: 45px;
      padding-left: 50px;
      background-color: $gray7;

      .title {
        margin-bottom: 36px;
        text-align: left;
      }

      .btn {
        &_edit {
          margin-top: 40px;
        }
      }
    }

    &_list {
      display: grid;
      grid-template-columns: 137px 1fr;
      gap: 30px 0;

      .fieldname {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 140%;
        text-align: left;
      }

      .fieldvalue {
        font-size: 22px;
        font-weight: 600;
        font-style: normal;
        line-height: 100%;
        text-align: left;
      }
    }
  }

  .status {
    &_box {
      position: relative;
      padding: 17px 50px 43px;
      background-color: $gray7;

      .title {
        text-align: left;
      }

      .subtitle {
        margin-top: 4px;
        margin-bottom: 26px;

        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 120%;
        text-align: left;
      }

      .progressbar {
        position: relative;
        top: 24px;

        width: 100%;
        height: 4px;

        background-color: $gray1;

        .current {
          max-width: 100%;
          height: 4px;
          background: $blue-gradient1;
        }
      }
    }

    &_line {
      position: relative;
      display: flex;
      justify-content: space-between;

      &_box {
        position: relative;
        width: 130px;

        &_text {
          margin-top: 4px;

          &_last {
            text-align: right;
          }
        }

        &_title {
          &_first {
            text-align: left;

            &::before {
              content: '';

              position: absolute;
              top: 65px;
              left: 0;

              display: block;

              width: 18px;
              height: 18px;

              background-color: $gray1;
              border-radius: 50%;
            }
          }

          &_last {
            text-align: right;

            &::before {
              content: '';

              position: absolute;
              top: 65px;
              right: 0;

              display: block;

              width: 18px;
              height: 18px;

              background-color: $gray1;
              border-radius: 50%;
            }
          }

          &_middle {
            &::before {
              content: '';

              position: absolute;
              top: 65px;
              left: 50%;
              translate: -50% 0;

              display: block;

              width: 18px;
              height: 18px;

              background-color: $gray1;
              border-radius: 50%;
            }
          }

          &_active {
            &::before {
              z-index: 1;
              top: 62px;

              width: 24px;
              height: 24px;

              background: $blue-gradient1;
            }
          }
        }
      }
    }
  }
}
