@import '../common';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 427px;
}

.subdata {
  display: flex;
  gap: 16px;
  margin-top: 4px;
  margin-bottom: 17px;
}

.photos_box {
  margin-top: 32px;
}

.description_title {
  margin-top: 32px;
  margin-bottom: 8px;
}

.description_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;

  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  &_item {
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: $text-dark;
    list-style-type: none;
  }

  &_item::before {
    content: '';

    width: 6px;
    height: 6px;

    background: $orange-gradient;
    border-radius: 50%;
  }
}

.btn_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 290px;
}
