@import '../../common';

.title {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  color: $text-black;
  text-align: center;

  &_h3 {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    line-height: 146.84%;
  }
}
