@import '../../common';

.container {
  min-width: 57px;
  padding: 10px;

  font-size: 12px;
  font-weight: 400;
  line-height: 105%;
  text-align: center;

  border-radius: $common-tag-border-radius;
}

.type {
  &_new {
    color: $orange2;
    background-color: rgb(255 191 47 / 12%);
    border: 1px solid $orange2;
  }

  &_in_progress {
    color: $orange2;
    background-color: rgb(255 191 47 / 12%);
    border: 1px solid $orange2;
  }

  &_ready {
    color: $orange2;
    background-color: rgb(255 191 47 / 12%);
    border: 1px solid $orange2;
  }

  &_sent {
    color: $orange2;
    background-color: rgb(255 191 47 / 12%);
    border: 1px solid $orange2;
  }

  &_canceled {
    color: $text-gray;
    background-color: $gray4;
    border: 1px solid $gray3;
  }

  &_received {
    color: $green1;
    background-color: rgb(76 204 73 / 12%);
    border: 1px solid $green1;
  }
}

@container (width <= 550px) {
  .container {
    padding: 8px;
  }
}
