.container {
  width: 100%;
}

.inputs {
  display: flex;
  gap: 8px;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 12px;
}

.input {
  width: 100%;
}

// .range {
//   width: 90%;
//   margin: 0 auto;
// }
