@import '../../common';

.container {
  display: flex;
  align-items: center;
}

.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: $text-black;
}

.select {
  cursor: pointer;

  margin-left: 8px;
  padding: 0;
  appearance: none;
  border: none;
  outline: none;
}

.img {
  transition: $common-transition;
}

.select:checked .img {
  transform: rotate(90deg);
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 16px;
  }

  .mob_text {
    display: none;
  }
}
