@import './components/common';

body {
  margin: 0;

  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: 'SF Pro Display', sans-serif;
}

.PhoneInputCountry {
  padding: 8px;
  border: 1px solid $gray3;
  border-radius: $common-small-border-radius;
}

.PhoneInput {
  width: 100%;
}

.rc-slider-rail {
  height: 2px;
  background-color: $gray5;
}

.rc-slider-track {
  height: 2px;
  background: $blue-gradient1;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 5px 4px rgb(90 117 255 / 60%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
}
