@import '../../common';

.container {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.text {
  margin-left: 20px;

  font-size: 20px;
  font-weight: 400;
  line-height: 105%;
  color: $text-white;
}
