@import '../../common';

.btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 16px;
  padding: 1px 0;

  background: none;
  border: none;
  outline: none;
}

.img {
  transform: rotate(180deg);
  transition: $common-transition;

  &_open {
    transform: rotate(0);
  }
}

.list {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-height: 0;
  margin: 0;
  padding: 0;

  transition: $common-transition;

  &_open {
    max-height: 120px;
  }

  &_item {
    list-style-type: none;
  }
}
