@import '../../common';

.tab {
  cursor: pointer;
  user-select: none;

  width: 120px;
  padding: 8px 25px;

  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: $text-black;
  text-align: center;

  background: none;
  border: none;
  border-radius: $common-small-border-radius;
  outline: none;

  transition: $common-transition;

  &_active {
    pointer-events: none;
    background-color: $gray1;
  }
}
